<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base/layout}">
<head>
</head>
<body>
	<div class="container-fluid" layout:fragment="conteudo">
	    <div class="row">
	        <div class="col-md-6">
	            <div class="card ">
	                <div class="header">
	                    <h4 class="title">Contatos</h4>
	                    <p class="category">Últimos contatos cadastrados</p>
	                </div>
	                <div class="content">
	                    <table class="table table-hover">
                        	<thead>
	                            <tr>
		                            <th>ID</th>
		                        	<th>Nome</th>
		                        	<th>Telefone</th>
		                        	<th>Endereço</th>
                        		</tr>
                        	</thead>
                        	<tbody>
	                            <tr th:each="contato : ${contatos}">
	                            	<td th:text="${contato.id}">[[ID]]</td>
	                            	<td th:text="${contato.nome}">[[NOME]]</td>
	                            	<td th:text="${contato.telefone}">[[TELEFONE]]</td>
	                            	<td th:text="${contato.endereco}">[[ENDEREÇO]]</td>
	                            </tr>
	                            <tr th:if="${contatos.empty}">
									<td colspan="4">Nenhum contato cadastrado</td>
								</tr>
                        	</tbody>
                    	</table>
                    	<div class="footer">
	                       <hr>
	                       <div class="stats">
	                           <i class="fa fa-history"></i> <text th:text="${#lists.size(contatos)}"></text> Contas
	              			</div>
	                 	</div>
	                </div>
	            </div>
	        </div>
	        <div class="col-md-6">
	            <div class="card ">
	                <div class="header">
	                    <h4 class="title">Tarefas</h4>
	                    <p class="category">últimas tarefas cadastradas</p>
	                </div>
	                <div class="content">
	                    <div class="table-full-width">
	                        <table class="table">
	                            <tbody>
	                                <tr th:each="tarefa : ${tarefas}">
	                                    <td width="10">
											<div class="checkbox">
											  	<input th:id="@{|check${tarefa.id}|}" type="checkbox" th:checked="${tarefa.check}">
											  	<label th:for="@{|check${tarefa.id}|}"></label>
									  		</div>
	                                    </td>
	                                    <td th:text="${tarefa.titulo}">[[TITULO]]</td>
	                                </tr>
		                            <tr th:if="${tarefas.empty}">
										<td colspan="1">Nenhuma tarefa cadastrada</td>
									</tr>
	                            </tbody>
	                        </table>
	                    </div>
	                    <div class="footer">
	                       <hr>
	                       <div class="stats">
	                           <i class="fa fa-history"></i> <text th:text="${#lists.size(tarefas)}"></text> Tarefas
	              			</div>
	                 	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<script type="text/javascript">
    	$(document).ready(function(){
        	demo.initChartist();
        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."
            },{
                type: 'info',
                timer: 4000
            });
    	});
	</script>
   	
</body>
</html>
