<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base/layout}">
<head>
</head>
<body>
	<div class="container-fluid" layout:fragment="conteudo">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="card ">
	                <div class="header">
	                    <h4 class="title">Lista de Tarefas</h4>
	                    <p class="category">Tarefas cadastrados</p>
	                </div>
	                <div class="content" id="tarefas">
	                	<div class="row">
	                		<div class="col-md-12 pull-right">
	                			<a id="filtrobtn" class="btn btn-fill btn-default">Filtro <i class="fa fa-filter" aria-hidden="true"></i> </a>
	                			<a th:href="@{/dashboard/tarefas/novo}" class="btn btn-fill btn-info">Novo <i class="fa fa-plus" aria-hidden="true"></i> </a>
	                		</div>
	                	</div>
	                	
	                	<div th:if="${!#strings.isEmpty(mensagem)}">
	                		<br>
		                	<div th:class="${'alert alert-' + tipo}">
		                		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
									
								<div>
									<i class="fa fa-check-circle"></i>
									<span th:text="${mensagem}">[[MENSAGEM SUCESSO]]</span>
								</div>
							</div>
						</div>
	                    
	                    <div>
	                    	<br>
	                    	<div class="row filtrocampo">
		                		<div class="col-md-12">
		                			<input class="form-control search" placeholder="Pesquisar">
		                		</div>
		                		<br>
	                		</div>
	                	
		                    <table class="table table-hover">
	                        	<thead>
		                            <tr>
			                        	<th>Status</th>
			                        	<th>Titulo</th>
			                        	<th width="150" style="text-align: center;">Horário</th>
			                        	<th width="200" style="text-align: center;">Ações</th>
	                        		</tr>
	                        	</thead>
	                        	<tbody class="list">
		                            <tr th:each="tarefa : ${tarefas}">
		                            	<td width="10">
											<div class="checkbox">
											  	<input th:id="@{|check${tarefa.id}|}" type="checkbox" th:checked="${tarefa.check}" disabled="disabled" style="background: #fff; cursor: auto;">
											  	<label th:for="@{|check${tarefa.id}|}"></label>
									  		</div>
	                                    </td>
		                            	<td>
		                            		<a th:text="${tarefa.titulo}" class="titulo" th:href="@{/dashboard/tarefas/{id}/info(id=${tarefa.id})}">
		                            		[[TITULO]]
		                            		</a>
		                            	</td>
		                            	<td style="text-align: center;" class="lembrete" th:text="${#dates.format(tarefa.lembrete,'dd/MM/yyyy HH:mm')}"></td>
		                            	<td style="text-align: center;">
	                                        <form method="POST"
												th:onsubmit="'return confirm(\'Posso remover ' + ${tarefa.titulo} + '?\');'"
												th:action="@{/dashboard/tarefas/{id}(id=${tarefa.id})}">
												
												<input type="hidden" name="_method" value="DELETE" />
		                                        
												<a th:href="@{/dashboard/tarefas/marcar/{id}(id=${tarefa.id})}" rel="tooltip" title="" class="btn btn-success btn-simple" data-original-title="Feito / Desfeito">
		                                            <i th:classappend="${tarefa.check} ? 'fa fa-times' : 'fa fa-check'"></i>
		                                        </a>
												
												<a th:href="@{/dashboard/tarefas/editar/{id}(id=${tarefa.id})}" rel="tooltip" title="" class="btn btn-info btn-simple" data-original-title="Editar">
		                                            <i class="fa fa-edit"></i>
		                                        </a>
		                                        
		                                        <button type="submit" rel="tooltip" title="" class="btn btn-danger btn-simple" data-original-title="Remover">
		                                            <i class="fa fa-times"></i>
		                                        </button>
	                                        </form>
		                            	</td>
		                            </tr>
		                            <tr th:if="${tarefas.empty}">
										<td colspan="4">Nenhuma tarefa cadastrada</td>
									</tr>
	                        	</tbody>
	                    	</table>
                    	</div>
                    	<div class="footer">
	                       <hr>
	                       <ul class="pagination"></ul>
	                 	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<th:block layout:fragment="script">
   		<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
       	<script>
          	$(document).ready(function() {
          		
          		var div = $('.filtrocampo').hide();
          		
          	    $('#filtrobtn').click(function () {
          	        div.toggle();
          	    });
  				
				var userList = new List('tarefas', {
					valueNames: ['titulo', 'lembrete'],
					  page: 10,
					  pagination: true
				});
  			});
   		</script>
	</th:block>
</body>
</html>
