<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base/layout}">
<head>
</head>
<body>
	<div class="container-fluid" layout:fragment="conteudo">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="card ">
	                <div class="header">
	                    <h4 class="title">Lista de Contatos</h4>
	                    <p class="category">Contatos cadastrados</p>
	                </div>
	                <div class="content" id="contatos">
	                	<div class="row">
	                		<div class="col-md-12 pull-right">
	                			<a id="filtrobtn" class="btn btn-fill btn-default">Filtro <i class="fa fa-filter" aria-hidden="true"></i> </a>
	                			<a th:href="@{/dashboard/contatos/novo}" class="btn btn-fill btn-info">Novo <i class="fa fa-plus" aria-hidden="true"></i> </a>
	                		</div>
	                	</div>
	                	
	                	<div th:if="${!#strings.isEmpty(mensagem)}">
	                		<br>
		                	<div th:class="${'alert alert-' + tipo}">
		                		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
									
								<div>
									<i class="fa fa-check-circle"></i>
									<span th:text="${mensagem}">[[MENSAGEM SUCESSO]]</span>
								</div>
							</div>
						</div>
	                    
	                    <div>
	                    	<br>
	                    	<div class="row filtrocampo">
		                		<div class="col-md-12">
		                			<input class="form-control search" placeholder="Pesquisar">
		                		</div>
		                		<br>
	                		</div>
	                	
		                    <table class="table table-hover">
	                        	<thead>
		                            <tr>
			                            <th>ID</th>
			                        	<th>Nome</th>
			                        	<th>Telefone</th>
			                        	<th>Endereço</th>
			                        	<th width="10%" style="text-align: center;">Ações</th>
	                        		</tr>
	                        	</thead>
	                        	<tbody class="list">
		                            <tr th:each="contato : ${contatos}">
		                            	<td th:text="${contato.id}">[[ID]]</td>
		                            	<td>
		                            		<a th:text="${contato.nome}" class="nome" th:href="@{/dashboard/contatos/{id}/info(id=${contato.id})}">[[NOME]]</a>
		                            	</td>
		                            	<td><p th:text="${contato.telefone}" class="telefone">[[TELEFONE]]</p></td>
		                            	<td><p th:text="${contato.endereco}" class="endereco">[[ENDEREÇO]]</p></td>
		                            	<td style="text-align: center;">
	                                        <form method="POST"
												th:onsubmit="'return confirm(\'Posso remover ' + ${contato.nome} + '?\');'"
												th:action="@{/dashboard/contatos/{id}(id=${contato.id})}">
												
												<input type="hidden" name="_method" value="DELETE" />
												
												<a th:href="@{/dashboard/contatos/editar/{id}(id=${contato.id})}" rel="tooltip" title="" class="btn btn-info btn-simple" data-original-title="Editar">
		                                            <i class="fa fa-edit"></i>
		                                        </a>
		                                        
		                                        <button type="submit" rel="tooltip" title="" class="btn btn-danger btn-simple" data-original-title="Remover">
		                                            <i class="fa fa-times"></i>
		                                        </button>
	                                        </form>
		                            	</td>
		                            </tr>
		                            <tr th:if="${contatos.empty}">
										<td colspan="4">Nenhum contato cadastrado</td>
									</tr>
	                        	</tbody>
	                    	</table>
	                    	
	                    	<div id="myModal" class="modal fade" role="dialog">
						  		<div class="modal-dialog">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<button type="button" class="close" data-dismiss="modal">&times;</button>
							        		<h4 class="modal-title">Exclusão de Contato</h4>
							      		</div>
							      		<form th:action="@{/dashboard/contatos/}" method="post">
							      			<input type="hidden" name="_method" value="DELETE" />
							      			<!--  <input type="hidden" id="idContato" name="id" value="0"/>	-->						      			
								      		<div class="modal-body">
								        		<p>Esta opção não pode ser desfeita, deseja realmente excluir este contato?</p>
								      		</div>
									      	<div class="modal-footer">
									        	<a class="btn btn-default btn-fill" data-dismiss="modal">Cancelar</a>
									        	<button type="submit" class="btn btn-danger btn-fill">Excluir</button>
									      	</div>
								      	</form>
								    </div>
							  	</div>
							</div>

                    	</div>
                    	<div class="footer">
	                       <hr>
	                       <ul class="pagination"></ul>
	                 	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<th:block layout:fragment="script">
   		<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
       	<script>
          	$(document).ready(function() {
          		
          		var div = $('.filtrocampo').hide();
          		
          	    $('#filtrobtn').click(function () {
          	        div.toggle();
          	    });
  				
				var userList = new List('contatos', {
					valueNames: ['nome', 'telefone', 'endereco'],
					  page: 10,
					  pagination: true
				});
  			});
          	
          	function excluir(id){
          		$("#idContato").val(id);
          		$('#myModal').appendTo("body").modal('show');
          	}
   		</script>
	</th:block>
</body>
</html>
